<div>
  <h1 class="display-4">OPERACIONES</h1>
  <p class="lead">Operaciones activas y pasivas liquidadas anticipadamente
    para extener su plazo</p>
  <hr class="my-4">
  <a href="about" class="btn btn-primary">Saber mas</a>
</div>
